html, body {
    /* init counters */
    counter-reset: bibindex 0;
}

/* tooltips */
.xrefs-tooltip {
    /* hide info */
    position: absolute;
    visibility: hidden;
    opacity: 0;
    /* box positioning */
    z-index: 1000;
    bottom: 125%; /* above the hovered element */
    left: 50%;
    transform: translateX(-50%);
    /* text styling */
    font-size: 1rem;
    font-weight: normal;
    overflow-wrap: break-word;
    
    /* box styling */
    width: max(100%, 15rem);
    /* height: min(auto, 5em); */
    height: 5em;
    border-radius: 4px;
    background-color: #aaaaaa;
    padding: 0.4em 0.5em;
    overflow-y: scroll;

    /* text styling */
    white-space: pre;

    /* smoothing effects */
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

/* bibliography */
tre-bibliography a:link,
tre-bibliography a:visited {
}
tre-bibliography tre-bib-item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}
tre-bib-item-body {
    /* outline: 1px solid cyan; */
}
tre-bib-item-head {
    /* outline: 1px solid red; */
}
tre-bib-item-index {
    width: 3em;
    text-align: end;
    /* outline: 1px solid magenta; */
}
tre-bibliography tre-bib-item-body > div {
    display: inline;
}

/* glossary */
tre-glossary:before {
    content: "Glossary";
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
tre-glossary .head {
    display: block;
    font-weight: bold;
    width: inherit;
}
tre-glossary .body {
    display: block;
    margin-left: 1em;
    width: inherit;
    overflow-wrap: break-word;
}

/* gls, cite in text */
tre-gls,
tre-cite {
    position: relative;   
}
tre-gls-hover,
tre-bib-hover {
    /* inherits from .tooltip */
}
:where(tre-gls-hover,tre-bib-hover).tooltip {
    /* inherits from .tooltip */
    overflow-x: hidden;
    white-space: normal;
}
tre-gls:hover tre-gls-hover,
tre-cite:hover tre-bib-hover {
    visibility: visible;
    opacity: 0.95;
    /* above element */
    display: block;
    /* always at the bottom */
    position: fixed;
    bottom: 5%;
    left: 50vw;
    transform: translateX(-47vw);
    width: 90%;
}
